1. What are data structures, and why are they important?

What are data structure:
* Data structure is a specific format for organizing, storing, and processing data within a computer system.It defines the relationship between data elements and the operation that can be performed on them.
- Lists, Tuples, Sets, Dictionaries are some built-in data structure in Python.

Why are they important:

* Organization: They provide a way to organize data in a logical and structured manner.
* Efficiency: They allow for efficient storage and retrival of data.
* Problem Solving: They are fundamental building blocks for solving various problems in computer science.
* Code readability: Using appropriate data structures can make code easier to read and understand.
* Flexibility: Python's built-in data structures are versatile and can be used to represent various types of data.



2. Explain the difference between mutable and immutable data types with example.

Mutable Data Types:
* These data types can be modified after they are created. The modification in place without creating a new object.
Example:List, Dictionary, Set

In [ ]:
# Example with List
list = [1, 2, 3, 4]
list[0] = 10
print(list) # output: [10, 2, 3, 4]

[10, 2, 3, 4]

Immutable Data Type:
* These data type can not be changed after they are created. Any operation that appears to modify an immutable object actually creates a new object with the modified value.
Examples: Integers, float, Boolean, Strings, tuples

In [ ]:
# Example with Strig
Name = "Padmalochan"
Name[0] = "M" # Error: 'str' object does not support item assignment

TypeError: 'str' object does not support item assignment

3. What are the main differences between list and tuple in python?

    * List are mutable, we can modify, add, remove the element of a list after creation. On the other hand Tuple are immutable, we can not modify the element of a tuple after creation.

4. Describe how dictionaries store data

    - Dictioneries store data as key-value pairs using a hash table, where each key is hashed  to quickly find its corresponding value.

5. Why might you use a Set insted of a List in python?

    * A set is used insted of a list when we need to store unique elements and perform fast membership checks. Sets are faster than lists for searching because it use hash tables, and set also support mathmatical operations like Union, Intersection, and Difference.

6.What is a String in python, and how is it different from a list?

    * A String in python is a sequence of text characters enclosed in single or duble quotes, and it is immutable.
    * List is a mutable, ordered collection of items, where each item can be of any data type.

    How they differ:
        1. Mutability - String are immutable & List are mutable
        2. Content - String are sequence of characters & Lists are collections of items with various data types.
        3. Representation - Strings are defined using quotes('' or "")where as Lists are defined as using square brackets[].
        4. Operations - both are supports indexing & Slicing. String have methods for text manipulation while list have methods for managing elements.
        5. Use Case - Strings are primarily used for text data and lists are used for storing collections of items.

7. How do tuples ensure data integrity in python?

    * Tuples ensure data integrity in python because they are immutable, it means their elements can not be changed after creation.This prevents accedental modification and keeps the stored data consistent and secure.

8. What is a hash table, and how does it relates to dictionaries in python?

    * Hash table is a data structure that stores data in key-value pairs using a hash function for quick access. In python, a dictionary is implemented as a hash table where key are hashed to quickly locate thier corresponding value.
    * The hash function converts each key into a numeric hash value, which points to the memory location where the value is stored.

9. Can lists contain different data types in python?

    * Yes, list can contain Heterogenious data such as integers, strings, folats, booleans and even other lists.

10. Explain why string are immutable in python.

    * Strings are immutable because of thease reasons:
        1. Efficiency - python can safely reuse strings in memory that is important for performance
        2. Security - strings are often used in key and immutability ensures they don't change accidentally.
        3. Consistency - Once created, the string remains the same everywhere its referenced.

11. What advantages do dictionaries after over list for creation tasks?

    * Advantages of Dictionaries over list in pythone:
        - Dictionaries in python offer fast data retrival
        - Easy to understand key value pairs
        - Dynamic data stucture
        - Efficient for storing large amounts of data
        - Built in methods for manipulation
        - Support for different data types
        - Facilitate efficient data processing

12. Describe a scenario where using a tuple would be preferable over a list.

    * The scenarios where tulpe would be preferable over a list:
        - Data integrity - if you have data that should never change, a tuple is safer.
        - Dictionery key - Since tuple are immutable, they can be used as key in dictionaries, while list can not.
        - Performance - Tuple are faster than list for iteration and memory usege because they do not change.
        - Function arguments - Tuple are often used to group fixedvalues together.

13. How do sets handle duplicate valus in python?

    * A set in python is a collection of unique, unordered elements. If we try to add duplicate values, the sets automatically removes them and only keeps one copy.
    * Sets use hashing internally, when we insert a value python checks if that value already exists, if yes, its ignored.

In [ ]:
# For Example
Set = {1, 2, 3, 4, 1, 2, 3, 4, 5, 6}
print(Set) # duplicate values are ignored.

{1, 2, 3, 4, 5, 6}

14. How does the "in" keyword work differently for lists and dictionaries?

    * The "in" keyword in python functions differently when used with lists compared to dictionaries due to their underlying data structure and how membership is determined
        * for lists:
            * The "in" keyword checks whether a value exists in the list, it goes element by element untill it finds a match.

In [ ]:
list = [1, 2, 3, 4, 5]
print(3 in list)

True

            * for dictionaries:
                - The "in" keyword checks only for the key, not the values

In [ ]:
Marks= {"Padmalochan": 89, "Ram":90, "Shayam":95}
print("Padmalochan" in Marks)

True

15. Can you modify the elements of a tuple? Explain why or why not.

    * No we can not, tuple are immutable which means once created , their elements can not be changed, add or remove.
        - Why Not?
            1. Immutability - designed to be fixed collections of items.
            2. Memory & Performance - since tuple are never change, python can optimize them better.

In [ ]:
# For Example
tuple = (50, 60, 70)
tuple[0] = 100 # Error: it can not be modify

TypeError: 'tuple' object does not support item assignment

16. What is a nested dictionary, and give an example of  its use case?

    * Nested dictionary means a dictionary inside another dictionary, it allows to store structured data.
    * It usefull when we want to represent complex relationship.

In [ ]:
# For Example

Students = {"Ram":{"Age":28, "Marks":{"math":86, "science":89}}, "Shyam":{"Age":25, "marks":{"math":90, "science":95}}}
print(Students["Ram"]["Marks"]["science"])

89

17. Describe the time complexity of accessing elenemts in a dictionary.

    * In Python, dictionary is implemented using a hash table. Thats why accessing an element is usually very fast.

Time complexity od accessing element in a dictionary
        
    * Average case O(1) (constant time) - Beacause python using hashing to map key directly to memory location.
    
    * Worst case O(n) (linear time) - This happens only if many keys end up with the same hash and python has to check multiple entries.

18. In what situations are lists preferred over dictionaries?

    * Lists are preferred over dictionaries in situation where:
        - Ordered of elements is important
        - Elements are accessed by numerical index
        - Sequential processing is common
        - Duplicates are allowed
        - Simple, modification of sequences are required
        - When we donot need key-value pairs etc

19. Why are dictionaries considered unordered, and how does that affect data retrival?

    * Before python 3.7 version, dictionaries did not maintain insertion order. Item were stored in a hash table, and their positions dependended on the hash values of the key, not the ordered in which we inserted them. Thats why they were considered unordered collections.
    * from python 3.7 onwards dictionaries do preserve insertionordered as an implementation details, but still their not ordered in a storing sence.

How does that affectdata retrival
    
    * Retrival uis not affected by order at all - Dictionary lookups work using hashing, so wether you inserted the item first, last or in the middle , retrival time is stillO(1).

20. Expalin the difference between a list and a dictionary in terms of data retrival.

List:

    * Retrieval Method - By indexing
    * Time complexity - Direct index access
    * Limitation -  To find an element by its value, python has to search through the list with the n numbers of elements.

In [ ]:
# For Example:

list = ["Patato", "Tomato", "Orange", "apple", "Banana"]
print(list[2]) # By idexing

Orange

Dictionary
    * Retrival Method - By key
    * Time complexity- On avarage (Hash table lookup)
    * Limitation - No retrival by numeric position (unless you convert key/values to a list)

In [ ]:
Dict = {"Patato":"1kg", "Tomato":"2kg", "Orange":"3kg", "apple":"4kg", "Banana":"1dzn"}
print(Dict["Tomato"]) # By idexing

2kg

# Practical Questions

1. Write a code to create a string with your name and print it.

In [ ]:
Name = "Padmalochan"
print(Name)

Padmalochan

2. Write a code to find the length of the string "Hello World".

In [ ]:
Str = "Hello World"
print(len(Str))

11

3. Write a code to slice the first 3 characters from the strint "Python Programming"

In [ ]:
PW = "Python Programming"
print(PW[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
Text = "hello"
print(Text.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
T = "I like apple"
print(T.replace("apple", "orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
code = [1, 2, 3, 4]
code.append(10)
print(code)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
code = [1, 2, 3, 4, 5]
code.remove(3)
print(code)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
l = ['a', 'b', 'c', 'd']
print(l[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
list = [10, 20, 30, 40, 50]
print(list[::-1])

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

12. Write code to access the second-to-last elementof the tuple('red', 'green', 'blue', 'yellow').

In [ ]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue


13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
Animal = ('dog', 'cat', 'rabbit')
print(Animal.index("cat"))

1

15. Write a code to create a tuple containing three different fruits and check if 'kiwi' is in it.

In [ ]:
fruit_basket = ('apple', 'banana', 'orange')
print('kiwi' in fruit_basket)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
Set = {"a", "b", "c"}
print(Set)

{'c', 'b', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
Set1 = {1, 2, 3, 4}
Set1.remove(4)
print(Set1)

{1, 2, 3}

19. Write a code to find the union of two sets  {1, 2, 3} and {3, 4, 5}.

In [ ]:
S1 = {1, 2, 3}
S2 = {3, 4, 5}
print(S1.union(S2))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1,2,3} and {2,3,4}.

In [ ]:
S1 = {1, 2, 3}
S2 = {2, 3, 4}
print(S1.intersection(S2))

{2, 3}

21. Write a code to create a dictionary with the key "name", "age" and "city" and print it.

In [ ]:
My_dict = {"name": "Padmalochan", "age": 31, "city": "Keonjhar"}
print(My_dict)

{'name': 'Padmalochan', 'age': 31, 'city': 'Keonjhar'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {"name":"John", "age":25}

In [ ]:
dict1 = {"name":"John", "age":25}
dict1["country"] = "USA"
print(dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write the code to access the value associated with the key "name" in the dictionary {"name":"Alice", "Age": 30}.

In [ ]:
P1 = {"name":"Alice", "Age": 30}
print(P1["name"])

Alice

24. Write a code to remove the key "age" form the dictionary {"name":"bob", "age":22, "city":"New York"}.

In [ ]:
P2 = {"name":"bob", "age":22, "city":"New York"}
P2.pop("age")
print(P2)

{'name': 'bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {"name":"Alice", "city":"Paris"}

In [ ]:
dict3 = {"name":"Alice", "city":"Paris"}
print("city" in dict3)

True

26. Write a code to create a list, a tuple and a dictionary and print them all.

In [ ]:
L = [1, 2, 3, 4, 5]
T = (1, 2, 3, 4, 5)
D = {"name": "Padmalochan", "age": 31, "city": "Keonjhar"}

In [ ]:
print(L, T, D)

[1, 2, 3, 4, 5] (1, 2, 3, 4, 5) {'name': 'Padmalochan', 'age': 31, 'city': 'Keonjhar'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).

In [ ]:
import random
numbers = [random.randint(1, 100) for _ in range(5)]

In [ ]:
numbers.sort()
print(numbers)

[7, 56, 69, 74, 96]

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
shopping_list = ["apple", "banana", "orange", "mango", "grapes"]
print(shopping_list[2])

orange

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {"name": "Padmalochan", "age": 31}
dict2 = {"city": "Keonjhar", "country": "India"}
dict1.update(dict2)
print(dict1)

{'name': 'Padmalochan', 'age': 31, 'city': 'Keonjhar', 'country': 'India'}

30. Write a code to convert a list of strings into a set.

In [ ]:
Str = ["apple", "banana", "orange", "mango", "grapes"]
print(set(Str))

{'apple', 'grapes', 'orange', 'banana', 'mango'}